<footer>
    <section>
        <h3>Label <strong>Vier</strong></h3>
            <p>Printerweg 10 (4e verdieping)</p>
            <p>3821 AD Amersfoort</p>
            <a href="mailto:hallo@labelvier.nl">hallo@labelvier.nl</a>
    </section>

    <section>
        <h3>Methode</h3>
        
        <h3>Diensten</h3>
        <ul>
            <li><a href="">Persona's</a></li>
            <li><a href="">Klantreizen</a></li>
            <li><a href="">Contentstrategie</a></li>
            <li><a href="">Ux design</a></li>
            <li><a href="">Ui design</a></li>
            <li><a href="">Ontwikkeling</a></li>
            <li><a href="">Hosting & support</a></li>
        </ul>

        <h3>Over ons</h3>
        <ul>
            <li><a href="">Werken bij</a></li>
        </ul>

        <h3>Werk</h3>

        <h3>Blog</h3>

        <h3>Contact</h3>

        <h3>Informatie</h3>
        <ul>
            <li><a href="">Jouw privacy</a></li>            
            <li><a href="">Algemen voorwaarden</a></li>            
            <li><a href="">Label Vier support</a></li>             
        </ul>
    </section>

</footer>
</body>
</html> 