<footer>
        <section class="footer-mogelijkheden-section">
            <h3>Wat kunnen we voor jou <strong>betekenen</strong>?</h3>
            <a href="">bekijk de mogelijkheden</a>
        </section> 
    <nav class="footer-nav" id="footer-nav">
        <section>
            <h3><a href="">Label <strong>Vier</strong></a></h3>
                <ul>
                    <li>Printerweg 10 (4e verdieping)</li>
                    <li>3821 AD Amersfoort</li>
                    <li> <a href="mailto:hallo@labelvier.nl">hallo@labelvier.nl</a></li>
                </ul>
        </section>

        <section>
            <h3><a href="">Diensten</a></h3>
                <ul>
                    <li><a href="">Persona's</a></li>
                    <li><a href="">Klantreizen</a></li>
                    <li><a href="">Contentstrategie</a></li>
                    <li><a href="">Ux design</a></li>
                    <li><a href="">Ui design</a></li>
                    <li><a href="">Ontwikkeling</a></li>
                    <li><a href="">Hosting & support</a></li>
                </ul>
        </section>

        <section>
            <h3><a href="">Over ons</a></h3>
            <ul>
                <li><a href="">Werken bij</a></li>
            </ul>

            <h3><a href="">Methode</a></h3>

            <h3><a href="">Werk</a></h3>

            <h3><a href="">Blog</a></h3>

            <h3><a href="">Contact</a></h3>
        </section>

        <section>
            <h3><a href="">Informatie</a></h3>
            <ul>
                <li><a href="">Jouw privacy</a></li>            
                <li><a href="">Algemen voorwaarden</a></li>            
                <li><a href="">Label Vier support</a></li>
                <li><a href="">Cookie voorkeuren</a></li>
            </ul>
        </section>
    </nav>
</footer>
</body>
</html> 