<header>
    <a href="/" class="logo">
        <img src="/img/logo.svg" alt="Labelvier logo" width="150px" height="50px">
    </a>

    <div class="blue-box">
        <a href="#footer-nav" id="toggle-menu-open" class="toggle-menu-open">
            <img src="/img/hamburger-md-svgrepo-com.svg" alt="" width="50px" height="50px">
        </a>

        {% comment %} <a id="toggle-menu-close" class="toggle-menu-close">
            <img src="/img/close-md-svgrepo-com.svg" alt="" width="30px" height="30px">
        </a> {% endcomment %}
    </div>

    <nav class="header-nav">

        <div class="search-container-nav">
            <form class="search-nav" action="">
                <label class="visually-hidden" for="search">zoeken</label>
                <input id="search" type="text" placeholder="Zoeken.." name="search">
                <button type="submit">
                    <img src="/img/search-magnifying-glass-svgrepo-com.svg" alt="zoekknop" width="30" height="30">
                </button>
            </form>
        </div>
        
        <ul class="header-list">
            <li class="header-list-item"><a href="/methode"><span>methode</span></a></li>

            <li class="header-list-item">
                <input type="checkbox" id="diensten-toggle" class="dropdown">

                <label for="diensten-toggle" class="dropdown-link dropdown-btn"><span>diensten</span>
                    <img src="/img/caret-down-md-svgrepo-com.svg" alt="submenu openen" width="20" height="20">
                </label>

                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href=""><span>persona's</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>klantenreizen</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>contentstrategie</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>ux design</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>ui design</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>ontwikkeling</span></a></li>
                    <li class="sub-menu-item"><a href=""><span>hosting & support</span></a></li>
                </ul>
            </li>

            <li class="header-list-item">
                <input type="checkbox" id="overons-toggle" class="dropdown">

                <label for="overons-toggle" class="dropdown-link dropdown-btn"><span>over ons</span>
                    <img src="/img/caret-down-md-svgrepo-com.svg" alt="submenu openen" width="20" height="20">
                </label>

                <ul class="sub-menu">
                    <li class="sub-menu-item"><a href="/werken-bij">werken bij</a></li>
                </ul>
            </li>

            <li class="header-list-item"><a href="/cases"><span>werk</span></a></li>
            <li class="header-list-item"><a href="/blog"><span>blog</span></a></li>
            <li class="header-list-item"><a href="/contact"><span>contact</span></a></li>
        </ul>
</header>