<header>
    <a href="/" class="logo">
        <img src="/img/logo.svg" alt="Labelvier logo" width="150px" height="50px">
    </a>

    <div class="blue-box">
        <a href="#footer-nav" id="toggle-menu-open" class="toggle-menu-open">
            <img src="/img/hamburger-md-svgrepo-com.svg" alt="" width="50px" height="50px">
        </a>

        {% comment %} <a id="toggle-menu-close" class="toggle-menu-close">
            <img src="/img/close-md-svgrepo-com.svg" alt="" width="30px" height="30px">
        </a> {% endcomment %}
    </div>
        
    <nav class="header-nav">
        <ul class="header-list-nav">
            <li>
                <a href="">methode</a>
            </li>
            <li class="diensten-list-parent">
                <a href="">diensten</a>
                <img src="/img/caret-down-md-svgrepo-com.svg" alt="" width="30px" height="30px">
                <ul class="diensten-list-child">
                    <li><a href="">persona's</a></li>
                    <li><a href="">klantreizen</a></li>
                    <li><a href="">contentstrategie</a></li>
                    <li><a href="">ux design</a></li>
                    <li><a href="">ui design</a></li>
                    <li><a href="">ontwikkeling</a></li>
                    <li><a href="">hosting & support</a></li>
                </ul>
            </li>
            <li class="over-ons-list-parent">
                <a href="">over ons</a>
                <img src="/img/caret-down-md-svgrepo-com.svg" alt="" width="30px" height="30px">
                <ul class="over-ons-list-child">
                    <li><a href="">werken bij</a></li>
                </ul>
            </li>
            <li>
                <a href="">werk</a>
            </li>
            <li>
                <a href="">blog</a>
            </li>
        </ul>

        <div class="search-container-nav">
            <button class="header-search-icon">
                <img src="/img/search-magnifying-glass-svgrepo-com.svg" alt="" width="30px" height="30px">
            </button>

            <form action="">
                <label class="visually-hidden" for="">zoeken</label>
                <input type="text" placeholder="Zoeken..">
            </form>
            <button>
                    <img src="/img/search-magnifying-glass-svgrepo-com.svg" alt="" width="30px" height="30px">
            </button>
        </div>

        <a class="contact-btn-nav" href="">contact</a>
    </nav>
</header>