{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="scripts/script.js" defer></script>

<main>
{% render 'partials/header.liquid' %}

<section class="cases-section">
    <h1><strong>Projecten</strong> waar we trots op zijn!</h1>
      <ul class="cases-list">
</section>

<nav>
  <a href="">
    <img src="/img/arrow-left-md-svgrepo-com.svg" alt="" width="15px" height="15px">
  </a>
  <a href="">1</a>
  <a href="">2</a>
  <a href="">3</a>
  <a href="">
    <img src="/img/arrow-right-md-svgrepo-com.svg" alt="" width="15px" height="15px">
  </a>
</nav> 


{% render 'partials/footer.liquid' %}
</main>
