{% assign pageTitle = "Home - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="/scripts/script.js" defer></script>

{% render 'partials/header.liquid' %}
<main>



<a class="home-link" href="/cases">Klik <span>hier</span> om naar cases pagina te gaan</a>

</main>
{% render 'partials/footer.liquid' %}