{% assign pageTitle = "Werk - Label Vier" %}
{% render 'partials/head.liquid', pageTitle: pageTitle %}
<script src="scripts/script.js" defer></script>

<main class="main-home">
{% render 'partials/header.liquid' %}


{% render 'partials/footer.liquid' %}
</main>
