*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* h2 hover */

h2 span {
	background-image:linear-gradient(transparent 14%, black 0 70%, transparent 0);
	background-size:0% 100%;
	background-repeat:no-repeat;
	transition:0.5s;
}

.cases-list-item:hover{
    h2 span {
        background-size:100% 100%;
        color:white;
    }
}

main{
    background-color: var(--primary-background);

}

/* header */
.logo{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.header-nav{
    height: 100%;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    background-color: var(--primary-background);
    display: none;
    padding: 5em;
}

.header-list-nav{
    li{
        display: flex;
        align-items: center;
        
        > a{
            font-weight: bold;
        }

        ul > li > a{
            font-weight: bold;
        }
    } 
}

.blue-box{
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: var(--secondary-highlight);
    z-index: 9999;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.search-container-nav{
    display: flex;
    align-items: center;

    input{
        background-color: rgb(230, 230, 230);
        border: none;
        width: 100%;
        height: 3em;
        font-size: 20px;
        position: relative;
    }
    button{
        position: absolute;
    }
    .header-search-icon{
        display: none;
    }
   
}

.open{
    display: block;
}



@media (min-width: 900px){
    .header-nav {
        display: flex; 
        position: static;
        justify-content: space-between;
        padding: 0;
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
        padding: 1em;

    }
    .header-list-nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1em;
    }

    .logo{
        box-shadow: none;
    }

    .blue-box{
        display: none;
    }

    /* hover submenu */
    .diensten-list-parent,  .over-ons-list-parent{
        position: relative;
    }
    .diensten-list-child, .over-ons-list-child{
        display: none;
        position: absolute;
        top: 100%;
        background-color: var(--primary-background);
        box-shadow: 8px 0 0 -4px #e6e6e6,-8px 0 0 -4px #e6e6e6;
        border: 1px solid #e6e6e6;
        transition: 0.3s;
    }
    .diensten-list-parent:hover > .diensten-list-child, 
    .over-ons-list-parent:hover > .over-ons-list-child{
        display: block;
    }

    .search-container-nav{
        display: flex;
        align-items: center;
        justify-content: center;

        form{
            display: none;
        }
        button{
            position: static;
        }
    }
    
    .contact-btn-nav{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; 
        font-weight: bold;
        color: var(--secondary-text);
        background-color: var(--secondary-highlight);
    }
}


/* cases */

.cases-section{
    padding: 2em 2em 0 2em;
    h1{
        line-height: 1.15;
    }
}

.cases-info {
    padding: 2em 0 2em 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    h2{
        line-height: 1.15;
    }
    p{
        line-height: 1.5;
        margin: 1em 0 1em 0;
    }
}

@media (min-width: 750px){
    .cases-section{
       padding: 4em 4em 0 4em;
    }
}
@media (min-width: 1300px){
    .cases-section{
       padding: 4em 15em 0 15em;
    }
}

.cases-img {
    width: 100%;
    overflow: hidden;
    max-height: 300px;
}
  
.cases-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    aspect-ratio: 1;
}

.cases-list{
    margin-top: 2em;
}

.cases-grid {
    display: grid;
    grid-template-columns: 1fr;
}
  
@media (min-width: 750px) {
    .cases-grid {
      grid-template-columns: 50% 50%;
    }
  
    .cases-list-item:nth-of-type(even) a > div {
      order: 1;
    }

    .cases-list-item:nth-of-type(even) a > section {
        padding: 2em 2em 2em 0;
    }

    .cases-list-item:nth-of-type(odd) a > section {
        padding: 2em 0 2em 2em;
    }
    .cases-img{
        max-height: none;
    }
}

.cases-detail-link{
    min-height: initial;
    display: inline-flex;
    align-items: center;
    gap: 0.5em;
    line-height: 1;
    font-weight: bold;

    img{
        margin-bottom: auto;
    }
}


/* footer */
.footer-mogelijkheden-section{
    padding: 2em;
    h3{
        line-height: 1.15;
        margin-bottom: 1em;
    }
    a{
        background-color: var(--primary-highlight);
        color: var(--secondary-text);
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding: 0.5em 1em 0.3em 1em;
    }

}

.footer-nav{
    margin-top: 2em;
    position:relative;
    background-color: #e6e6e6;
    padding: 2em;
}

.footer-nav::before {
    --kartel-angle:116.5deg;
    --kartel-width:4em;
    --kartel-height:1em;
    
    content:"";
    
    position:absolute;
    left:0;
    right:0;
    bottom:100%;
    height:var(--kartel-height);
    
    background-image:
      repeating-conic-gradient(at 50% 0, transparent var(--kartel-angle), #e6e6e6 0 calc(360deg - var(--kartel-angle)) ,transparent 0 360deg);
    background-size:var(--kartel-width) 100%;
}

/* pagina switchen */
.page-switch{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1em;
    a{
        background-color: var(--primary-highlight);
        color: var(--secondary-text);
        font-weight: bold;
        
        &.page-link{
            display: flex;
            align-items: center;
            padding:0 .75em;

            @supports (text-box-edge: cap) {
                display:block;
                padding:1em;
                text-box: trim-both cap alphabetic;
            }
            
        }

        &:not(.page-link) {
            display: flex;
            /* justify-content: center; */
            align-items: center;
            padding:0 .75em;
        }
    }

}