@font-face {
    font-family: 'HindGuntur';
    src: url('/fonts/Hind_Guntur/hindguntur-light-webfont.woff2') format('woff2'),
         url('/fonts/Hind_Guntur/HindGuntur-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'HindGuntur';
    src: url('/fonts/Hind_Guntur/hindguntur-regular-webfont.woff2') format('woff2'),
         url('/fonts/Hind_Guntur/HindGuntur-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'HindGuntur';
    src: url('/fonts/Hind_Guntur/hindguntur-medium-webfont.woff2') format('woff2'), 
         url('/fonts/Hind_Guntur/HindGuntur-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'HindGuntur';
    src: url('/fonts/Hind_Guntur/hindguntur-semibold-webfont.woff2') format('woff2'), 
         url('/fonts/Hind_Guntur/HindGuntur-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'HindGuntur';
    src: url('/fonts/Hind_Guntur/hindguntur-bold-webfont.woff2') format('woff2'), 
         url('/fonts/Hind_Guntur/HindGuntur-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Zelfde voor Hind */
@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind/hind-light-webfont.woff2') format('woff2'), 
         url('/fonts/Hind/Hind-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind/hind-regular-webfont.woff2') format('woff2'), 
         url('/fonts/Hind/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind/hind-medium-webfont.woff2') format('woff2'), 
         url('/fonts/Hind/Hind-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind/hind-semibold-webfont.woff2') format('woff2'), 
         url('/fonts/Hind/Hind-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Hind';
    src: url('/fonts/Hind/hind-bold-webfont.woff2') format('woff2'), 
         url('/fonts/Hind/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
} 

:root {
    font-size: 16px;
    /* FONTS */
    --primary-font: 'HindGuntur', sans-serif;
    --secondary-font: 'Hind', sans-serif;
  
    /* KLEUREN */  
    --primary-background: #FFFFFF;   
    --secondary-background: #E6E6E6; 
    --primary-highlight: #E2655E;  
    --secondary-highlight: #281CE2;       
    --primary-text: #000000;
    --secondary-text: #FFFFFF;
    ---third-text: #666666;
}

/* TITELS */
h1 {
    font-size: clamp(3rem, 5vw, 4rem); 
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
}
  
h2 {
    font-size: clamp(2.5rem, 4.5vw, 3rem); 
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
    line-height: 1.15;
}
  
h3 {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
}
  
  /* TEKSTEN */
p {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem); /* 18px – 20px */
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
    line-height: 1.6;
}
  
a {
    font-size: clamp(1.2rem, 2.5vw, 1.5rem); /* 18px – 20px */
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
    text-decoration: none;
}
  
  /* LI ITEMS */
li {
    font-size: clamp(1.2rem, 3vw, 1.5rem); 
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
    list-style: none;
}
  
  /* H3 binnen een link */
h3 a {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: var(--primary-font);
    font-weight: 300;
    color: var(--primary-text);
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

strong {
    font-weight: 700;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
